.heading{
    width:80%; 
    font-size:22px;
} 
.name_of_objects,#result_object_name,#result_object_accuracy{
    color: rgb(255,20,0); 
} 
#camera{
    border:2px dashed red; 
    width: 350px;
    height: 300px;
} 